<!-- <div class="h-32"> <!-- wrapper -->
<!--   <img class="" src="/me.avif" alt=""> -->
<!---->
<!-- </div> -->
<!---->


<!-- <div class="bg-gradient-to-r from-mocha-crust 

to-mocha-surface1 drop-shadow-2xl"> <!-- wrapper -->
<!--   <div class="p-32"> -->
<!--     <hero class="p-32 text-xl"> -->
<!--       <img class="bg-fixed h-60" src="/me.avif" alt="my-picture"> -->
<!--       <h4>Hello, My Name Is</h4> -->
<!--       <br> -->
<!--       <h1 class="text-6xl">Abhinandh S</h1> -->
<!--       <br> -->
<!--       <h4> - A Frontend Developer</h4> -->
<!--       <button class="uppercase" type="know More">know more</button> -->
<!--     </hero> -->
<!--   </div> -->
<!-- </div> -->
