<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="bg-mocha-base">
  {{ partial "header.html" . }}
  <!--
  <header class="h-32 bg-mocha-mantle">
    <div class="m-0 pr-10 pl-10 pb-0 pt-0">
      <!-- wrapper -->
  <!--     <h1 class="float-left mt-12 mb-5 font-bold text-5xl text-mocha-text max-tablet:text-4xl" -->
  <!--       style="font-family: 'Helvetica Neue', san-serif"> -->
  <!--       ABHINANDH -->
  <!--       S<span class="text-vibez-red">.</span></h1> -->
  <!--     <nav class="text-mocha-text float-right max-tablet:hidden"> -->
  <!--       <ul> -->
  <!--         <li class="float-left inline-block mt-16"><a class="uppercase font-bold block mr-5" href="/home">Home</a></li> -->
  <!--         <li class="float-left inline-block mt-16"><a class="uppercase font-bold block mr-5" -->
  <!--             href="/portfolio">portfolio</a></li> -->
  <!--         <li class="float-left inline-block mt-16"><a class="uppercase font-bold block mr-5" -->
  <!--             href="articles">Articles</a></li> -->
  <!--         <li class="float-left inline-block mt-16"><a class="uppercase font-bold block mr-5" href="/about">About</a> -->
  <!--         </li> -->
  <!--       </ul> -->
  <!--     </nav> -->
  <!--     <!-- Mobile Nav -->
  <!---->
  <!--     <nav class="hidden max-tablet:block"> -->
  <!--       <div -->
  <!--         class="group float-right mt-12 mr-2 cursor-pointer items-center justify-center rounded-3xl bg-mocha-mantle hover:bg-mocha-base"> -->
  <!---->
  <!--         <div class="space-y-2"> -->
  <!--           <span -->
  <!--             class="block h-1 w-10 origin-center rounded-full bg-mocha-text transition-transform ease-in-out group-hover:translate-y-1.5 group-hover:rotate-45"></span> -->
  <!--           <span -->
  <!--             class="block h-1 w-10 origin-center rounded-full bg-mocha-text transition-transform ease-in-out group-hover:translate-y-1.5 group-hover:hidden"></span> -->
  <!--           <span -->
  <!--             class="block h-1 w-10 origin-center rounded-full bg-mocha-text transition-transform ease-in-out group-hover:-translate-y-1.5 group-hover:-rotate-45"></span> -->
  <!--         </div> -->
  <!--       </div> -->
  <!--     </nav> -->
  <!--   </div> -->
  <!-- </header> -->
  <!---->
  <!--    -->

</body>

<!-- {{ partial "header.html" . }} -->
<!-- {{ partial "breadcrumb" . }} -->
<!-- {{ partial "hero_sec" . }} -->
<!-- <main class="container mx-auto py-8"> -->
<!--   <div class="bg-mocha-surface0 drop-shadow-2xl rounded-lg p-6"> -->
<!--     {{ block "main" . }}{{ end }} -->
<!--   </div> -->
<!-- </main> -->
<!---->
<!-- <footer class="bg-mocha-mantle text-mocha-subtext1 p-4 mt-8"> -->
<!--   <div class="container mx-auto text-center"> -->
<!--     <p class="text-mocha-pink">hello</p> -->
<!--     <p class="text-mocha-teal">hello</p> -->
<!--     <p class="">hello</p> -->
<!--     {{ partial "footer.html" . }} -->
<!--   </div> -->
<!-- </footer> -->

</html>
